@import "media.css";
@import "reset.css";
@import "fonts.css";

.container {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-pack: start;
	-webkit-box-align: start;
	-webkit-transition: all 1s;
}

ol label {
	margin-left: 0;
}

ul label {
	margin-left: -1%;
}

li {
	padding-bottom: 1rem;
	font-size: .7rem;
	margin-left: -2%;
	line-height: 1.1rem;
	width: 73%;
	margin-top: -3%;

	padding-top: 0;
	padding-left: 2%;
}

ol {
	margin-left: 7%;
}

ul li {
	margin-left: 4%;
}

.logo {
	background: url("../images/leica-logo.png") no-repeat;
	margin-left: 3.5%;
	background-size: contain;
	width: 9.5%;
	padding-bottom: 7.8%;
	margin-top: 2%;
}

header {
	border-bottom-right-radius: 90% 35%;
	border-bottom-left-radius: 90% 35%;
	display: -webkit-box;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	background: #fff;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
	width: 100%;
	overflow: hidden;
}

.logo-caption {
	text-align: right;
	font-family: Arial, serif;
	color: #3b474f;
	font-weight: 600;
	margin-right: 3.5%;
	font-size: 1.25rem;
}

.header-arrow {
	background: url("../images/top-arrow.png") no-repeat;
	height: .7rem;
	width: .7rem;
	background-size: contain;
	position: relative;
	margin-top: 7%;
	left: 2.5%;
}

body {
	background: url("../images/bg.png");
	height: 100%;
	background-size: cover;
	overflow: hidden;
}

.wrap {
	width: 95.5%;
	height: 67%;
	margin-top: 4%;
	-webkit-transform: translate3d(0, 0, 0);
	padding-right: 0;
	display: -webkit-box;
	-webkit-box-pack: justify;
	-webkit-transition: all .7s;
}

.content-line {
	height: 100%;
	width: 31.5%;
	display: -webkit-box;
	-webkit-box-align: start;
	background: #fff;
	margin-left: 2.5%;
	margin-right: 0;
	-webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
	-webkit-box-pack: justify;
}

.inner {
	position: relative;
	right: 94.5%;
	top: 10%;
	overflow-y: scroll;
	height: 71%;
	margin-top: 7%;
	width: 94%;
}

.content-header {
	display: -webkit-box;
	-webkit-box-pack: justify;
	text-align: left;
	width: 100%;
	margin-top: 3%;
	height: 10%;
}

.content-header p {
	margin-left: 1.2rem;
	font-weight: 600;
	font-size: 1.5rem;
	font-family: UniversLTS, serif;
}

.icon {
	width: 20%;
	background-repeat: no-repeat;
	background-size: contain;
	height: 2.5rem;
}

.icon1 {
	background-image: url("../images/icon-pdf.png");
	margin-top: -2%;
	margin-right: -5%;
	height: 2.5rem;
}

.icon2 {
	background-image: url("../images/icon-leica.png");
	margin-right: 1%;
	height: 2rem;
	width: 3.5rem;
}

.icon3 {
	background-image: url("../images/icon_sciencelab_1.png");
	margin-right: -5%;
	margin-top: -3%;
}

ul {
	font-family: UniversLTS, serif;
	font-size: 0.8rem;
	width: 89%;
	margin-left: 0.7rem;
	margin-top: 2%;
}

ol {
	font-family: UniversLTS, serif;
	font-size: 0.8rem;
	width: 87%;
	padding-left: 2rem;
	margin-top: 2%;
}

.checkbox {
	height: 0;
	width: 0;
}

.checkbox:before {
	content: "";
	display: inline-block;
	background: url('../images/cbox-unchecked.png') no-repeat;
	-webkit-transition: all .2s;
	width: 1rem;
	height: 1rem;
	position: relative;
	left: -3rem;
	top: -0.5rem;
	background-size: contain;
}

ol .checkbox {
	margin-right: -1%;
}

ul .checkbox:before {
	left: -1.5rem;
	opacity: 1;
}

.checkbox:checked:before {
	background: url('../images/cbox-checked.png') no-repeat;
	background-size: contain;
}

.form {
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -webkit-box;
	-webkit-transform: translate3d(0, 0, 0);
	width: 55%;
	height: 67%;
	box-sizing: border-box;
	margin: 4% auto 0;
	-webkit-transition: all .7s;
}

.content-footer {
	border-top: .1rem solid rgba(0, 0, 0, .5);
	width: 100%;
	height: 13%;
	bottom: -87%;
	position: relative;
	right: 194%;
	display: -webkit-box;
	-webkit-box-pack: end;
	-webkit-box-align: center;
}

button {
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgb(236, 27, 47)), color-stop(100%, rgb(190, 27, 47)));
	background: -webkit-linear-gradient(left, rgb(236, 27, 47) 0%, rgb(190, 27, 47) 100%);
	border-radius: 50%;
	color: #FFF;
	font-family: UniversLts, serif;
	position: relative;
	outline: none;
	border: none;
	display: block;
}

.footer-add {
	height: 3.2rem;
	width: 3.2rem;
	left: -2%;
	font-size: .8rem;
}

.footer-add::before {
	content: "Add all";
}

.footer-remove {
	height: 3.2rem;
	width: 3.2rem;
	left: -2%;
	font-size: .8rem;
	background: #666;
}

.footer-remove::before {
	content: "Remove all";
}

.indicators {
	position: absolute;
	bottom: 5%;
	width: 100%;
	height: 1rem;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.indicator {
	background: url("../images/indicator-innactive.png") no-repeat;
	width: 1rem;
	height: 1rem;
	margin-right: 0.2rem;
}

.indicator-active {
	background-image: url("../images/indicator-active.png");
}

form {
	width: 75%;
	height: 90%;
}

textarea {
	height: 31%;
}

form input, textarea {
	width: 100%;
	border: .1rem rgba(0, 0, 0, 0.3) solid;
	-webkit-box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.3);
	font-style: italic;
	font-family: UniversLts, serif;
	font-weight: 100;
	margin-bottom: 1rem;
	padding: 1rem;
	box-sizing: border-box;
	font-size: 1rem;
}

.selected-content {
	overflow-y: scroll;
	height: 20%;
	width: 99%;
	padding-left: 1%;
	padding-right: 1%;
	box-sizing: border-box;
	border: .1rem rgba(0, 0, 0, 0.3) solid;
	-webkit-box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.3);
}

.send {
	height: 3.4rem;
	width: 3.4rem;
	position: relative;
	left: 102%;
	font-size: 1.2rem;
	bottom: 17%;
}

.animate {
	-webkit-transform: translate3d(-88%, 0, 0);
	-webkit-transition: all .7s;
}

.animate2 {
	-webkit-transform: translate3d(-174%, 0, 0);
	-webkit-transition: all .7s;
}

.selected-content label {
	margin-bottom: 1%;
	padding-left: 6%;
	margin-top: -31%;
	position: relative;
	top: 0.1rem;
	margin-left: 1%;
}

.selected-content li {
	border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
	width: 100%;
	padding-left: 2%;
	margin: 0 auto;
	height: 1rem;
}

.selected-content .checkbox:before {
	content: "";
	display: inline-block;
	background: url('../images/cbox-unchecked.png') no-repeat;
	opacity: 1;
	-webkit-transition: all .2s;
	width: 1rem;
	height: 1rem;
	top: -0.3rem;
	background-size: contain;
	left: -1.3rem;
}

.selected-content .checkbox:checked:before {
	background: url('../images/discard.png') no-repeat;
	background-size: contain;
}

.selected-content .checkbox:checked:after {
	display: block;
	content: '';
	height: 1.5rem;
	width: 1.5rem;
	position: relative;
	top: -1.9rem;
}

.selected-content ul:nth-of-type(1) .checkbox:checked:after {
	background: url('../images/icon-pdf.png') no-repeat;
	background-size: contain;
}

.selected-content ul:nth-of-type(2) .checkbox:checked:after {
	background: url('../images/icon-leica.png') no-repeat;
	background-size: contain;
	top: -1.6rem;
}

.selected-content ul:nth-of-type(3) .checkbox:checked:after {
	background: url('../images/icon_sciencelab_1.png') no-repeat;
	background-size: contain;
}

.selected-content span {
	padding-left: 2rem;
}

.selected-content ul {
	margin-left: 0;
	width: 100%;
}

.links {
	margin: 0 auto;
	font-size: 1rem;
	padding-bottom: .5rem;
}
