@media screen and (max-width: 960px) {
	html {
		font-size: 83%;
	}
}

@media screen and (max-width: 1024px) and (min-width: 961px) {
	html {
		font-size: 100%;
	}
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
	html {
		font-size: 110%;
	}
}

@media screen and (max-width: 1920px) and (min-width: 1281px) {
	html {
		font-size: 180%;
	}
}

@media screen and (max-width: 2560px) and (min-width: 1921px) {
	html {
		font-size: 250%;
	}
}