* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	font-size: 10px;
	overflow: hidden;
}

textarea {
	resize: none;
}

ul {
	list-style: none;
}

::-webkit-scrollbar {
	width: 1%;
}

::-webkit-scrollbar-thumb:vertical {
	height: 3rem;
	background-color: rgba(0, 0, 0, .3);
}